ONECHAIN_RPC_URL=https://rpc-testnet.onelabs.cc:443
ONECHAIN_FAUCET_URL=https://faucet-testnet.onelabs.cc:443
MOVE_PACKAGE_ID=0xa045ef60a21249618db0ce3bb1e9aaa5e54d79549a67ab96865b9d387f20e0ab
ONECHAIN_EXPLORER_URL=https://onescan.cc/testnet

NEXT_PUBLIC_NETWORK=testnet
NEXT_PUBLIC_PACKAGE_ADDRESS=0xa045ef60a21249618db0ce3bb1e9aaa5e54d79549a67ab96865b9d387f20e0ab
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_ONECHAIN_EXPLORER_URL=https://onescan.cc/testnet
NEXT_PUBLIC_ENABLE_MOCK_WALLET=false

API_PORT=3001
DATABASE_PATH=./data/dev.db

NEXT_CACHE_DIR=F:/cache/next
TURBO_CACHE_DIR=F:/cache/turbo
